{% load cms_tags sekizai_tags %}

<article class="event-container black-gradient">
    <div class="container">
        <div class="sixteen columns">
            <div class="six columns alpha history-part">{% placeholder 1_six_columns_content %}</div>
            <div class="four columns history-part">{% placeholder 2_four_columns_content %}</div>
            <div class="two columns history-part">{% placeholder 3_two_columns_content %}</div>
            <div class="four columns omega history-part">{% placeholder 4_four_columsn_content %}</div>
        </div>
    </div>
</article>
