{% load cms_tags sekizai_tags %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <meta charset="utf-8">
    <title>{% page_attribute page_title %}</title>
    <meta name="description" content="{% page_attribute meta_description %}">
    <meta name="keywords" content="{% page_attribute meta_keywords %}">
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Antic+Slab|Quattrocento+Sans:400,700|Lato:100">

    {% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/skeleton.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/layout.css">
    {% endaddtoblock %}

    {% render_block "css" %}

    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}img/apple-touch-icon-114x114.png">

</head>
<body>

    {% cms_toolbar %}

    <header id="top">
        <div class="container">
            <div class="sixteen columns">
                <aside>
                    <div class="four columns alpha side">
                        {% placeholder left_header inherit %}
                    </div>
                </aside>
                <div class="eight columns logo-container"><a href="/" class="logo"></a></div>
                <aside>
                    <div class="four columns omega side">
                        {% placeholder right_header inherit %}
                    </div>
                </aside>
            </div>
        </div>
    </header>

    <nav>
        <div class="menu">
            <div class="container">
                <div class="sixteen columns">
                    <div class="eight columns alpha left"><strong>filtros:</strong>
                        <ul>
                            <li><div class="menu-header">data</div></li>
                            <li><div class="menu-header">clube <span>ou</span> seleção</div></li>
                            <li><div class="menu-header">país</div></li>
                        </ul>
                    </div>
                    <div class="eight columns omega right">
                        <form method="GET" action="/search">
                            <input type="search" autocomplete="on" maxlength="100" name="terms" placeholder="palavra-chave">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <section class="content">
    {% block content %}{% endblock %}
    </section>

    <div class="bottom-content">
        <div class="container">
            <hr/>
            {% placeholder bottom_content inherit %}
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="sixteen columns anchor-top-container"><a href="#top" title="ir para o topo da página"><div class="top-link"></div></a></div>
            <div class="sixteen columns content">
                <div class="eight columns alpha left"><p>2011. Históriasdabola.com. Todos os direitos reservados</p></div>
                <div class="eight columns omega right"><p>siga-nos no <a href="http://twitter.com/rafaelcaricio">twitter</a>. nossa página no <a href="http://facebook.com/rafaelcaricio">facebook</a>.</p></div>
            </div>
        </div>
    </footer>

    {% render_block "js" %}

    {% addtoblock "js" %}
        <script src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery-ui-1.8.18.custom.min.js"></script>
    {% endaddtoblock %}

</body>
</html>
