@import "compass";

section.twitter-reactions {

    .title {
        position: relative;
        border-top: solid 1px #EDEDED;

        h3 {
            position: absolute;
            padding: 0 10px 0 10px;
            top: -18px;
            left: -100px;
            margin-left: 50%;
            background-color: #F9F9F9;
            text-transform: uppercase;
            font-family: arial;
            font-size: 14px;
            font-weight: bold;
            color: #777;
        }
    }

    .four.tweet {
        border: solid 1px #EDEDED;
        border-right: solid 1px #DADADA;
        border-bottom: solid 1px #DADADA;
        @include border-radius(3px);
        @include background-image(linear-gradient(top, #FFF, #FAFAFA));
        @include box-shadow(#F2F2F2 1px 1px 0px 0px);
        width: 268px;
        height: 122px;
    }

    .tweet {
        margin-top: 27px;

        .bird {
            position: absolute;
            width: 33px;
            height: 30px;
            top: -1px;
            margin-left: 90px;
            background: url("../img/bird.png");
        }

        blockquote {
            position: relative;
            padding: 10px 10px 0 10px;
            border-left: 0;
            line-height: 0;

            a {
                color: #71ADC2;
            }

            s {
                text-decoration: none;
            }

            p {
                width: 248px;
                position: absolute;
                font-size: 15px;
                line-height: normal;
            }
        }

        .original-tweet-url {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        abbr {
            display: block;
            margin: 88px 0 0 10px;
            text-transform: uppercase;
            font-family: arial;
            font-size: 10px;
            color: #777;
        }
    }
}

