
<article>
    <div class="container">
        <div class="container history-event">
            <a class="sixteen columns" href="#">
                <div class="two columns alpha year"><strong>2006</strong></div>
                <div class="two columns icon"><img width="60" height="60" alt="Confronto" src="{{ MEDIA_URL }}event_types/confroto.png"></div>
                <div class="twelve columns omega"><hgroup><h1>Prazer, Adriano Gabiru</h1><h2>estrelando adriano gabiru e puyol</h2></hgroup></div>
            </a>
        </div>
    </div>
</article>

<article>
    <div class="container">
        <div class="container history-event">
            <a class="sixteen columns" href="#">
                <div class="two columns alpha year"><strong>1966</strong></div>
                <div class="two columns icon"><img width="60" height="60" alt="Confronto" src="{{ MEDIA_URL }}event_types/confroto.png"></div>
                <div class="twelve columns omega"><hgroup><h1>O susto português</h1><h2>a coreia do norte quase estraga a festa</h2></hgroup></div>
            </a>
        </div>
    </div>
</article>
